<!-- Here we are booting angularjs specifying the module we create -->
<html ng-app="main">
  <head>
    <!-- Importing AngujarJS -->
    <script src="http://code.angularjs.org/1.2.5/angular.min.js"></script>
    
    <!-- Importing the several files we used to create the modules, services and controllers -->
    <script src="http://code.angularjs.org/1.2.5/modules.js"></script>
    <script src="http://code.angularjs.org/1.2.5/services.js"></script>
    <script src="http://code.angularjs.org/1.2.5/controllers.js"></script>
    
    <title>Basic AngularJS example</title>
  </head>
  <body>
    <!-- 
        Here we define that all the elements under this <div> will interact
        with the controller we define.
    -->
    <div ng-controller="MessageRendererCtrl">
    
        <!-- Here we use the DTO that the controller will update on any interaction -->
        <div><strong>Message:</strong> {{messageDTO}}</div>
        
        <!-- The ngModel directive allow bind an entry to a variable called here newMessage -->
        <div><strong>New Message:</strong> <input ng-model="newMessage" type="text" value=""/>
        
        <!-- 
            The ngClick directive allow calling a method of the scope (set by the controller)
            In this case, we call the 'updateMessage' method with the variable bind by the ngModel
            directive.
        -->
        <button ng-click="updateMessage(newMessage)">Update it!</button></div>
    </div>
  </body>
</html>
